{% extends 'SkyTestBundle::layout.html.twig' %}

{% block body %}
    <div class="large-12 columns">
        <div class="row">
            Ваша база данных учителей пуста. <a href="{{ path('sky_test_teacher_new') }}">Начните её заполнение с создания учителя.</a>
        </div>
    </div>
{% endblock %}