{% extends 'SkyTestBundle::layout.html.twig' %}

{% block body %}
    <div class="large-12 columns">
        <div class="row">

        </div>
        <div class="row">
            {% for student in teacher.students.iterator %}
                {{ sturent.name }}
            {% else %}
                <p>У этого учителя нет учеников, <a href="{{ path('sky_test_teacher_link', {'id': teacher.id}) }}">хотите добавить?</a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
